/* app/static/css/styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Color de fondo general */
    color: #333; /* Color del texto principal */
  }
  
  header {
    background-color: #2c3e50; /* Color de fondo para el encabezado */
    padding: 20px 0;
    text-align: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  header nav ul li a {
    color: #ecf0f1; /* Color del texto en el menú */
    text-decoration: none;
  }
  
  header nav ul li a:hover {
    color: #bdc3c7; /* Color del texto al pasar el mouse */
  }
  
  main {
    padding: 20px;
  }
  
  /* Estilos específicos para las páginas */
  /* Puedes agregar estilos específicos para cada página si lo necesitas */
  